<h1>{{title}}</h1>
<div [style.color]="wardColor">
  Hello {{name}}
</div>
<input type="text" [value] = "name" (keyup)="name= $event.target.value">
<button (click)="changeSuitColor()">It's awesome click</button>
<br>

<my-customers></my-customers>
